@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
